:root {
  --color-body: #4c4c4c;
  --color-special: crimson;
  --font-weight-body: 300;
  --font-weight-bold: 700;
  --font-weight-mega: 900;
}

html {
  font-size: 110%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: var(--font-weight-body);
  line-height: 1.65;
  color: var(--color-body);
}

main {
  width: 92vw;
  max-width: 40rem;
  margin: 0 auto;
}

h1,
h2,
a {
  color: var(--color-special);
}

h1 {
  font-weight: var(--font-weight-mega);
  font-size: 3rem;
  margin: 0.5em 0;
}

h2,
strong,
a {
  font-weight: var(--font-weight-bold);
}

a:focus,
a:hover {
  color: black;
}

h2 {
  margin: 0.5rem 0 1rem;
}

p {
  margin: 0.75rem 0;
}

article {
  margin: 2.5rem 0;
  border: solid 0.1em var(--color-body);
  border-radius: 0.25rem;
  padding: 1.5rem;
}

article img {
  max-width: 100%;
  height: auto;
}

article .date {
  font-size: 1.125rem;
  margin: 0.5rem 0 1rem;
}

article .player {
  margin: -0.45rem 0 1.5rem;
  position: relative;
}

article audio {
  width: 100%;
}

footer {
  text-align: center;
  margin: 2rem auto;
}

footer p {
  margin: 0.25rem 0;
}
