:root {
  --color-body: #4c4c4c;
  --color-border: #dfcece;
  --color-shadow: #fbe0e0;
  --color-special: crimson;
  --font-weight-body: 300;
  --font-weight-bold: 700;
  --font-weight-mega: 900;
}

html {
  font-size: 100%;
}

body {
  color: var(--color-body);
  font-family: "Lato", sans-serif;
  font-weight: var(--font-weight-body);
  line-height: 1.65;
  overflow-x: hidden;
  width: 100%;
}

main {
  width: 92vw;
  max-width: 105rem;
  margin: 0 auto;
}

.intro,
footer {
  max-width: 45rem;
  margin: 0 auto;
}

h1,
h2,
a {
  color: var(--color-special);
}

h1 {
  font-weight: var(--font-weight-mega);
  font-size: 2rem;
  margin: 0.5em 0;
}

h2,
strong,
a {
  font-weight: var(--font-weight-bold);
}

a {
  transition: color 150ms;
}

a:focus,
a:hover {
  color: black;
}

h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem;
  line-height: 1.35;
}

p {
  margin: 0.75rem 0;
}

#feed {
  margin: 3rem 0;
}

article {
  overflow: hidden;
  margin: 1rem 0;
  border-radius: 0.35rem;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.5rem var(--color-border);
  transition: box-shadow 150ms;
}

article audio {
  background: var(--color-special);
  border-top: solid 0.1em black;
}

article .inner {
  padding: 0.35rem 1rem 0.75rem;
}

article:focus-within,
article:hover {
  box-shadow: 0 0.1rem 0.75rem var(--color-border);
}

article:first-of-type {
  margin-top: 2.5rem;
}

article img {
  max-width: 100%;
  height: auto;
}

article .date {
  margin: 0.5rem 0 1rem;
}

article .player {
  margin: -0.45rem 0 0.5rem;
  position: relative;
}

article audio {
  width: 100%;
}

article .download > a[href=""] {
  display: none;
}

footer {
  text-align: center;
  margin: 5rem auto 1.5rem;
}

footer p {
  margin: 0.25rem 0;
  font-size: 0.825rem;
}

@media (min-width: 550px) {
  html {
    font-size: 110%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  .intro p {
    font-size: 1.125rem;
  }
}

@media (min-width: 700px) {
  main {
    width: 96vw;
  }

  #feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  article {
    margin: 0 !important;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.75rem;
  }

  .intro p {
    font-size: 1.175rem;
  }

  #feed {
    grid-template-columns: repeat(3, 1fr);
  }

  footer p {
    font-size: 0.925rem;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 115%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #feed {
    gap: 1.5rem;
  }

  article .inner {
    padding: 0.5rem 1.5rem 1rem;
  }
}
